.gameDisplayBlock{
    position: relative;
    width: 20rem;
    background-color: wheat;
    padding: 10px;
    box-sizing: border-box;
    margin: 1rem;
    margin-left: 4rem;
    float: left;
    height: 35rem;
    border-radius: 10%;
    border: 1px solid;
}

.blockHeader{
    height: 10%;
    width: 100%;
}

.blockImageWrapper{
    width: 100%;
    height: fit-content;
}

.blockImageWrapper>img{
    width: 100%;
    height: fit-content;
    border-radius: 10%;
    border: 1px solid black;
}

.blockButtonWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    position: absolute;
    bottom: 0;
}
.blockButtonWrapper>div{
    width: 50%;
}

.gameDisplayBlock>div{
    margin-bottom: 2%;
}


