:root {
    --block-width: 5rem;
    --block-height: 5rem;
}
#app {
    width: 100%;
    height: 100%;
}
body {
    width: 100vw;
    height: 100vh;
}
#navBar{
    width: 100%;
    height: 10%;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.3rem;
    margin-bottom: 2rem;
}
#navBar>a:hover{
    opacity: 0.5;
}   
#contentWrapper{
    position: relative;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#content{
    position: absolute;
    top: 0;
    display: grid;
    grid-template-columns: 1fr;
}
#contentHeader{
    margin-top: 5% !important;
    margin-bottom: 5% !important;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#turnSign {
    height: 100%;
    width: 40%;
}
#turnSign>p{
    margin: 0;
}
#undo{
    margin: 10%;
    width: auto;
    height: auto;
    padding: 10px;
}
#textBox{
    float: left;
    width: 50%;
    background-color: wheat;
    border: 1px solid black;
    border-radius: 10%;
    height: 100%;
    padding: 10px;
    overflow: hidden;
}
#textBox>div{
    margin-bottom: 100%;
}
#whiteTurnSign, #blackTurnSign {
    border: 1px solid black;
    float: left;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
} 
#whiteTurnSign{
    background-color: white;
}
#blackTurnSign{
    background-color: black;
}
.turnSignHighlighted {
    border:2px solid blue !important;
}
#keyboardFrame{
    display: table-cell;
}
#keyboardFrame>.row>div {
    float: left;
    width: var(--block-width);
    height: var(--block-height);
    border: 1px solid black;
    box-sizing: border-box;
}
.whiteBlock, .blackBlock {
    display: flex;
    justify-content: center;
    align-items: center;
}
.highlighted{
    border: 4px solid !important; 
}
.whiteBlock{
    background-color: white;
}
.blackBlock{
    background-color: black;
}
.whiteBlock, .blackBlock {
    opacity: 0.7;
}
.whitePiece {
    background-color: white;
    border: 1px solid black;
}
.blackPiece {
    background-color: black;
    border: 1px solid white;
}
.piece{
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50%;
    height: 80%;
    width: 80%;
    color: brown;
    font-size: calc(var(--block-width)* 0.25);
}
.piece:hover{
    border: 4px solid;
}
.king{
    color: rgb(221 190 13 / 83%);
}
#buttonWrapper {
    margin: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 10%;
    margin: auto;
    margin-bottom: 5% !important;
    height: 3rem;
    margin-top: 5% !important;
}
.button {
    color: white;
    background-color: lightblue;
    border-radius: 20%;
    width: 30%;
    border: none;
    height: 1.5rem;
    align-content: center;
}
.button:hover{
    opacity: 0.7;
}
.chosenButton{
    background-color: burlywood;
}
#resultPannel{
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    position: absolute;
    background-color: wheat;
    opacity: 0.9;
    border-radius: 10%;
    display: table-column;
    height: fit-content;
    padding-bottom: 2rem;
}
#resultPannel>div{
    height: 20%;
    width: 50%;
    margin-top: 5%;
    margin-left: 5%;
    font-size: 2rem;
}
#layoutInfoBar{
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
#layoutInfoBar>.button{
    margin: 0;
}
.layoutList{
    z-index: 1;
    width: 50%;
    height: 20rem;
    display: table-column;
    background-color: wheat;
    border-radius: 3%;
    position: absolute;
    right: 0;
    top: 120%;
    overflow: scroll;
}
.layoutList>.layout{
    border-bottom: 1px solid black;
    padding: 10px;
    font-weight: bold;
    font-size: 1.2rem;
}
.layoutList>.layout:hover{
    opacity: 0.5;
}

